<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 pe-2.5 ps-2.5">
    <div class="card aws-card h-100" (click)="onCardClick()">
        <div class="card-body">
            <div class="service-icon">
                <i [class]="service.icon"></i>
                @if (gamification.isEnabled()) {
                    <app-highscore-bars [highscore]="highscore"></app-highscore-bars>
                }
            </div>
            <h5 class="service-title mt-4">{{ service.name }}</h5>
            <p class="service-description">{{ service.description }}</p>
        </div>
    </div>
</div>