:host {
    display: block;
    width: 100%;
}

.autocomplete-dropdown {
    overflow-y: auto;
    background: #ffffff;
    min-width: 400px;
    width: 100%;
    left: 0;
    border: 1px solid var(--aws-gray);

    @media (max-width: 500px) {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - 20px);
        min-width: unset;
        max-width: calc(100vw - 20px);
    }
}

.selected {
    background-color: #f3f4f6;
}

::ng-deep .dark .selected {
    background-color: #374151 !important;
}

::ng-deep .dark .autocomplete-dropdown {
    background: #1f2937;
    border: 1px solid #4c5a71 !important;

    .selected {
        background-color: #374151;
    }
}
