<div
    class="
        autocomplete-dropdown absolute mt-2
        shadow-lg rounded-lg overflow-hidden overflow-y-auto
        z-50 border border-gray-200 dark:border-gray-700
      "
    [style.max-height.px]="maxHeight"
>
    <ul class="list-none p-0 m-0">
        @for (card of results; track card.id) {
            <li
                (click)="selectCard(card)"
                class="
              p-3 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer flex items-center
              border-b last:border-b-0 border-gray-100 dark:border-gray-600
            "
            >
                <i [class]="card.icon + ' text-xl mr-3 text-blue-500'"></i>
                <div class="flex flex-col">
              <span class="font-semibold text-sm text-gray-900 dark:text-gray-100">
                {{ card.name }}
              </span>
                    <span class="text-xs text-gray-500 dark:text-gray-400 truncate">
                {{ card.description }}
              </span>
                </div>
            </li>
        } @empty {
            <li class="p-3 text-center text-gray-500 dark:text-gray-400 text-sm">
                No results found
            </li>
        }
    </ul>
</div>
