@if (service) {
  <div class="container mt-4">

    <app-text-pop />

    <div class="row">
      <div class="col-12 text-end text-sm-start">
        <app-back-to-home-button />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card border-0 shadow-lg aws-card-static">

          <app-flash-card-header [service]="service" />

          <div class="card-body pt-0">
            <div class="markdown-content" [innerHTML]="markdownContent">
            </div>

            <h3
              class="my-6 text-xl font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
              <i class="fas fa-question-circle me-3"></i>
              Test Your Knowledge
            </h3>

            <div class="quizzes">
              @if (gamification.isEnabled()) {
                  <app-highscore-details
                    [highscore]="highscore"
                    (onHighscoreReset)="resetHighscore()"
                  />
              }

              @if (questions.length > 0) {
                <div class="mt-5">
                  <app-quiz
                    [questions]="questions"
                    [onRetry]="resetProgressTracker.bind(this)"
                    [onAnswer]="onProgress.bind(this)"
                  />
                </div>
              }
            </div>

            <app-flash-card-navigation [id]="flashcardId" />

          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (!service && !loading) {
  <div class="container mt-12">
    <div class="row">
      <div class="col-12 text-center text-md-start flex flex-col gap-3">
        <h2 class="text-6xl text-center">404</h2>
        <p class="mt-2 mb-8 text-center">The requested AWS service could not be found.</p>
        <div class="text-end text-md-start">
          <app-back-to-home-button class="mb-4" />
        </div>
      </div>
    </div>
  </div>
}

@if (loading) {
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-3">Loading service details...</p>
      </div>
    </div>
  </div>
}
