<div class="container mt-4">
  @for (category of categories; track category) {
    <div class="row">

      <div class="col-12">
          <h2 class="category-header">
              {{ category.name }}
              <span class="badge bg-gray-500 text-white dark:bg-gray-800 dark:text-gray-900 ms-2 px-2 py-1 rounded text-sm font-medium">
                {{ category.services.length }}
              </span>
          </h2>
      </div>

      @for (service of category.services; track service) {
        <app-aws-service-card
          [service]="service"
          [highscore]="getHighscore(service)"
          (serviceClick)="navigateToService($event)">
        </app-aws-service-card>
      }
    </div>
  }
</div>